
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
background-image: url("./Assets/Aibg.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
height: 100%;
width: 100%;
}
.nav_ka_bg{
  background-color: #b3ffb3 !important;
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}



